# Home Assistant Add-on: Cloudflared

[![GitHub Release][releases-shield]][releases]
![Project Stage][project-stage-shield]
![Project Maintenance][maintenance-shield]

Connect remotely to your Home Assistant instance without opening any ports using
Cloudflared.

## About

AIS Cloudflared connects your Home Assistant Instance via a secure tunnel to
subdomain selected by you, at paczka.pro host via Cloudflare. Doing that, 
you can expose your Home Assistant to the Internet without opening ports in your router.

![ais tunnel](https://raw.githubusercontent.com/sviete/ais-ha-addon-cloudflared/main/docs/images/ais-tunnel.png)

## Disclaimer

Please make sure to be compliant with the
[Cloudflare Self-Serve Subscription Agreement][cloudflare-sssa] when using this
add-on.

[cloudflare-sssa]: https://www.cloudflare.com/terms/
[maintenance-shield]: https://img.shields.io/maintenance/yes/2023.svg
[project-stage-shield]: https://img.shields.io/badge/project%20stage-production%20ready-brightgreen.svg
[releases-shield]: https://img.shields.io/github/v/release/sviete/ais-ha-addon-cloudflared?include_prereleases
[releases]: https://github.com/sviete/ais-ha-addon-cloudflared/releases
